fastapi==0.111.0
uvicorn==0.22.0
pydantic==2.8.2
pymongo==4.8.0
dnspython==2.6.1  # Needed for pymongo with MongoDB Atlas
typing-extensions==4.12.2  # Compatibility with pydantic and FastAPI
setuptools>=42  # Required for pydantic
annotated-types==0.7.0  # For type annotations
